<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid justify-content-end">
    <h1 class="text-white me-5 w-50">Express Deploy App</h1>
    <a href="/user-create" class="btn btn-warning me-3">Crear usuario</a>
    </a>
  </div>
</nav>